* {
  margin: 0;
  padding: 0;
}
body {
  font-family: Georgia, "Times New Roman", Times, serif;
  padding: 0 20px;
}
#bg_img {
}
#head_title {
  text-align: center;
  padding: 0 0 10px;
  color: #999;
}
#box {
  margin: 23px 500px 0;
}
li {
  list-style: none;
}
caption {
  display: none;
}
#box table {
  width: 100%;
  font-size: 14px;
}
#box table th {
  background: #dfdfdf;
  padding: 5px 10px;
  border: 1px solid #dfdfdf;
  font-weight: bold;
}
#box table td {
  padding: 5px 10px;
  border: 1px solid #ddd;
}
#box table td input[type="number"] {
  width: 50px;
  height: 25px;
  text-align: center;
  line-height: 25px;
  font-size: 12px;
  border: 1px solid #d5d5d5;
}
#box table td select {
  width: 52px;
  height: 25px;
  text-align: center;
  line-height: 25px;
  font-size: 12px;
  border: 1px solid #d5d5d5;
}
#box table td input[type="text"] {
  width: 160px;
  padding: 0 5px;
  height: 25px;
  line-height: 25px;
  font-size: 12px;
  border: 1px solid #d5d5d5;
}
#box table td span {
  font-size: 12px;
  color: #999;
}
#bg_tab {
  border-bottom: 1px dashed #999;
  padding: 0 20px;
  font-size: 0;
  line-height: 0;
}
#bg_tab li {
  display: inline-block;
  border: 1px solid #dfdfdf;
  background: #dfdfdf;
  padding: 5px 10px 3px;
  cursor: pointer;
  font-size: 14px;
  line-height: 20px;
  border-radius: 5px 5px 0 0;
  border-bottom: none;
  font-weight: bold;
}
#bg_tab li:first-child {
  border-right: none;
}
#bg_tab li.select {
  background: #fff;
}
#contents {
  margin: 20px 0 0;
}
#bg_img_box {
  padding: 20px;
}
#bg_img_box > li {
  display: none;
  position: relative;
}
#bg_img_box > li.select {
  display: block;
}
#content_left {
  margin: 10px 0 0;
  text-align: center;
}
#content_left p {
  margin: 10px 0 0;
  display: inline-block;
}
#content_left input {
  width: 100px;
  height: 30px;
  line-height: 30px;
  padding: 0 0 0 10px;
  font-size: 20px;
}
#content_left select {
  width: 114px;
  height: 34px;
  line-height: 34px;
  padding: 0 0 0 10px;
  font-size: 20px;
}
#content_left input#bg_cutting,
#content_left input#bg_download,
#content_left input#bg_img_clear {
  min-width: 86px;
  padding: 0;
  margin: 0 10px;
  border: none;
  color: #666;
  font-size: 14px;
  line-height: 25px;
  text-align: center;
  vertical-align: middle;
  background: #dfdfdf;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}
#bg_canvas_box,
#cut_over {
}
#bg_canvas {
  display: none;
}
#bg_img_region {
  display: inline-block;
}
#cut_over ul {
  font-size: 0;
  line-height: 0;
  position: relative;
}
#cut_over ul li {
  position: absolute;
  display: inline-block;
}
#cut_over ul li:hover {
  z-index: 2;
  outline: 2px solid #f80;
}
#cut_over ul li span {
  background: #0cc;
  display: inline-block;
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 50%;
  text-align: center;
  color: #fff;
  opacity: 0.7;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -20px 0 0 -20px;
  font-size: 20px;
  font-weight: bold;
}
#head_title_help {
  display: inline-block;
  font-size: 11px;
  text-align: center;
  vertical-align: middle;
  background: #dfdfdf;
  line-height: 12px;
  padding: 2px 10px 3px;
  border-radius: 10px;
  color: #fff;
  margin: 0 0 10px -5px;
}
